{% extends 'rota/base.html' %}
{% load static %}

{% block title %}Viação Rota dos Tropeiros - Horários e Rotas Castro-PR{% endblock %}

{% block description %}Transporte público em Castro-PR. Consulte horários, rotas urbanas e intermunicipais, mapa interativo e informações das paradas.{% endblock %}

{% block leaflet_css %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css?v=2" crossorigin="">
{% endblock %}

{% block content %}
    {% include 'rota/components/hero.html' %}
    {% include 'rota/components/servicos.html' %}
    {% include 'rota/components/horarios.html' %}
    {% include 'rota/components/mapa.html' %}
    {% include 'rota/components/estatisticas.html' %}
    {% include 'rota/components/contato.html' %}
{% endblock %}

{% block leaflet_js %}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js?v=2" crossorigin=""></script>
{% endblock %}

{% block extra_js %}
<script>
    // Dados das rotas injetados do backend
    window.ROUTES_DATA = {{ routes_data|safe }};
    // TODAS as paradas da cidade
    window.ALL_STOPS = {{ all_stops_data|safe }};
</script>
<script src="{% static 'rota/js/route-map.js' %}?v=4"></script>
{% endblock %}
